@import './common.css';
@import './reset.css';
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img{
    -webkit-user-drag: none;
}
.shenglue{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shenglue2{
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}